body, html{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(./img/мостик.png);
    background-size: cover;
}


/*Прямоугольник*/
.rect {
	margin-left: -50px;
    margin: 200px;
    padding: 0px;
    margin-top: 50px;
    height: 80vh;
    width: 75vw;
    border-radius: 80px 80px 80px 80px;
    background-color: rgba(250, 248, 242, 0.9);
  }

table{
    text-align: center;
    width: 70vw;
}

td{
    width: 10vw;
}

.image {
    margin-top: 30px;
    padding: 0;
    width: 5vw;
    border-spacing: 30px;
}

/*Подключаем шрифты*/
@font-face {
    font-family: 'allneed';
    src: url(./fonts/allneed2.ttf);
}
@font-face {
    font-family: 'text';
    src: url(./fonts/text.ttf);
}

p {
    font-family: 'allneed';
    margin-top: 0px;
}

a{
    font-family: 'text';
    text-decoration: none;
}

a:-webkit-any-link {
    color: #1B1C20;
    cursor: pointer;
}

/*Заголовок*/
.l-Title{
    font-size: 40px;
    margin-top: 50px;
    padding-top: 0px;
    text-align: center;
    color: #1B1C20;
}

/*Текст*/
.l-Text{
    font-size: 20px;
    margin-left: 20px;
    padding-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    margin-top: 20px;
    padding-top: 20px;
    color: #1B1C20;
}

/*Лого*/
h2{
    font-size: 30px;
    margin-top: 0px;
    padding-top: 35px;
    margin-left: 10px;
    padding-left: 15px;
    color: #ff6969;
    font-family: "allneed";
}

/*Вход*/
.menu{
    font-size: 15px;
    font-family: "allneed";
    list-style: none;
    margin-top: -60px;
    margin-right: 20px;
    padding-right: 20px;
    text-align: right;
    color: #1B1C20;
}


/*Кнопка*/
.button1{
    background-color: #ff6969;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 15px;
    outline: none;
}

.button1:hover{
    background: linear-gradient(#ff6969, #e73939) #ff6969;
}

.button1:active{
    background: linear-gradient(#ff6969, #e73939) #ff6969;
}


@media screen and (max-width: 767px){
    /*Прямоугольник*/
    .rect {
        margin-top: -76px;
        width: 95vw;
    }
    .rect2 {
        margin-top: -76px;
        width: 200vw;
    }
    /*Лого*/
    h2{
        font-size: 20px;
        margin-left: 5px;
        padding-left: 10px;
    }

    /*Вход*/
    .menu{
        margin-top: -45px;
        margin-right: 10px;
        padding-right: 10px;
    }

    /*Заголовок*/
    .l-Title{
        font-size: 30px;
    }
    /*Текст*/
    .l-Text{
        font-size: 15px;
        text-align: center;
        margin-top: 0px;
        padding-top: 0px;
    }

    table{
        text-align: center;
        width: 90vw;

    }
    
    .image {
        margin-top: 30px;
        padding: 0;
        width: 10vw;
    }


    /*Кнопка*/
    .button1{
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 350px){
    /*Прямоугольник*/
    .rect {
        margin-top: -76px;
        width: 95vw;
    }
    /*Лого*/
    h2{
        font-size: 20px;
        margin-left: 5px;
        padding-left: 10px;
        padding-top: 10px;
    }

    /*Вход*/
    .menu{
        margin-top: -45px;
        margin-right: 10px;
        padding-right: 10px;
    }

    table{
        text-align: center;
        width: 95vw;
    }
    
    .image {
        margin-top: 30px;
        padding: 0;
        width: 10vw;
    }

    /*Заголовок*/
    .l-Title{
        font-size: 30px;
        margin-top: 30px;
    }
    /*Текст*/
    .l-Text{
        font-size: 13px;
        text-align: center;
        margin-top: 0px;
        padding-top: 0px;
    }

    /*Кнопка*/
    .button1{
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 10px;
    }
}
.button2{
    background-color: #ff6969;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 0px;
    margin-top: 20px;
    border-radius: 15px;
}

.answer_container{
    margin: 0px;
    padding: 0px;
    margin-top: -50px;
    height: 160vh;
    width: 75vw;
    border-radius: 0px 0px 80px 0px;
    background-color: rgba(250, 248, 242, 0.9);
}


